.features {
    justify-content: space-around;

    &__section {
        padding-bottom: 0;
    }

    &__item {
        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    &__background {
        height: 120px;
        width: 270px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: #F5F4FA;
    }

    &__icon {
        height: 70px;
        width: 70px;
    }

    &__title {
        font-weight: var(--secondary-font-weight);
        font-size: var(--main-font-sz);
        text-transform: uppercase;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    &__text {
        font-weight: var(--primary-font-weight);
        line-height: var(--primary-line-hght);
        color: var(--secondary-txt-clr);
        margin-bottom: 0px;
        max-width: 270px;
    }
}

