@import "../team/social";


.team {
    justify-content: space-around;

    &__section {
        background-color: #F5F4FA;
    }

    &__item {
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        background-color: #ffffff;

        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    &__thumb {
        display: block;
    }

    &__meta {
        padding-top: 30px;
        padding-bottom: 16px;
    }

    &__name {
        font-size: var(--secondary-font-sz);
        line-height: var(--fourth-line-hght);
        text-align: center;
        font-weight: 500;
        margin-bottom: 10px;
    }

    &__text {
        text-align: center;
        font-weight: var(--primary-font-weight);
        font-size: var(--secondary-font-sz);
        line-height: var(--fourth-line-hght);
        color: var(--secondary-txt-clr);
    }
}

